
.container{
    width: 525px;
    height: 200px;
    background-color: rgb(98, 79, 55);
    text-align: center;
    border-bottom:2px solid black;
}
.tot{
    width: 500px;
    height: 800px;
    background: white;
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: black;
}
h1{
    padding-top: 2em;
    font-size: 2.5em;
    color: cornsilk;
}
/*.row{
  padding-top: 2em;
}*/
#f5
{
  height: 400px;
  width: 100%;
  background-color: rgb(245, 238, 229);
  border-style: none;
}
/*#qty,#up,#tp{
    padding-left: 5em;
}*/
button{
    background-color: rgb(98, 79, 55);
    width: 100px;
    height: 50px;
    border-style: unset;
    border-radius: 10%;
}
a{
    text-decoration: none;
    color: cornsilk;
}
